.lu--bg {
  @keyframes loading {
    0% {
      transform: rotate(0deg);
    }

    100% {
      transform: rotate(360deg);
    }
  }

  width: 100vw;
  height: 100vh;
  background: #0e4bd9;
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;

  .lu--loading {
    margin-top: 24vh;
    width: 60px;
    height: 60px;
    position: absolute;

    div {
      width: 8px;
      height: 8px;
      border-radius: 20px;
      background: white;
      position: absolute;
      top: 0;
      left: 25px;
      transform-origin: center 25px;
      animation-name: loading;
      animation-duration: 2s;
      animation-fill-mode: forwards;
      animation-iteration-count: infinite;
      animation-timing-function: cubic-bezier(.99, .17, .3, .82);

      &:nth-child(2) {
        animation-delay: 0.3s;
      }

      &:nth-child(3) {
        animation-delay: 0.6s;
      }

      &:nth-child(4) {
        animation-delay: 0.9s;
      }

      &:nth-child(5) {
        animation-delay: 0.12s;
      }
    }
  }

  .lu--text {
    margin-top: calc(24vh + 60px);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: 2.5em;
    line-height: 1.5em;
  }
}